/* basic color */
$magenta6: #eb2f96;
$magenta5: #f759ab;

$red6: #f5222d;
$red5: #ff4d4f;

$green6: #52c41a;
$green5: #73d13d;

$orange6: #fa8c16;
$orange5: #ffa940;

$blue6: #1890ff;
$blue5: #40a9ff;

$grey6: #bfbfbf;
$grey5: #d9d9d9;